page-login {
	.container {
		display: inline-block;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}
		.top {
			width: 120px;
		}
		.down {
			width: 250px;
		}
		ion-list {
			width: 100%;
		}
}
