page-detalle-reporte {
	#container {
		display: block;
		width: 100%;
		background-color: red;

		//display: flex;
		//justify-content: center;
		chart {
			display: flex: none|auto|[<'flex-grow' (0)> <'flex-shrink' (1)> || <'flex-basis' auto|<'width' (%|rem|em|px)>>];
			width: 100%;
		}
	}
}
