<ion-header>
	<ion-navbar no-border-bottom color="twitter">
		<ion-title>Nuevo reporte</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<button ion-button full (click)="selectColumnas()">Seleccionar columnas</button>
<!-- 	<ion-list>
		<ion-item *ngFor="let item of columnas_seleccionadas">
			<ion-label>{{ item.items }}</ion-label>
		</ion-item>
	</ion-list> -->
	<!-- <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table> -->
	<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
	<button ion-button full (click)="selectAgrupaciones(columnas_seleccionadas)">Seleccionar agrupaciones</button>
<!-- 	<ion-list>
		<ion-item *ngFor="let item of agrupacion_seleccionada">
			<ion-label>{{ item.items }}</ion-label>
		</ion-item>
	</ion-list> -->
	<div id="container" [hidden]="!visible">
		<chart [options]="options"></chart>
	</div>
	<hr>
	<hr>
	<ion-grid>
		<ion-row>
			<ion-col text-center>
				<button ion-button [hidden]="!visible_boton" (click)="graficar(columnas_seleccionadas, agrupacion_seleccionada)">Graficar</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button [hidden]="!visible">Cancelar</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button [hidden]="!visible_boton" (click)="guardarReporte(agrupacion_seleccionada)">Guardar</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
