page-nuevo-reporte {
	.ng2-smart-actions {
		display: none;
	}
	.ng2-smart-actions-title {
		display: none;
	}
	.ng2-smart-actions-title-add {
		display: none;
	}
	#container {
		display: flex;
		justify-content: center;
		height: 500px;
		min-width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.ng2-smart-pagination {
		color: red;
		font-size: 20px;
	}
}
