page-nuevo-reporte {
	.ng2-smart-actions {
		display: none;
	}
	.ng2-smart-actions-title {
		display: none;
	}
	.ng2-smart-actions-title-add {
		display: none;
	}
	#container {
		display: flex;
		justify-content: center;
		height: 500px;
		min-width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}

	.highcharts-color-0 {
		fill: #5D6D7E;
		// stroke: #85929E;
	}

	.highcharts-yaxis .highcharts-axis-line {
		stroke-width: 2px;
	}
	.modal{
		top: 0 ;
		bottom: 0 ;
		left: 0 ;
		right: 0 ;
		width: 100% ;
	}
}
