page-detalle-grupo {
	#container {
		display: flex;
		justify-content: center;
		height: 500px;
		min-width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.highcharts-color-0 {
		fill: #5D6D7E;
	}
	.highcharts-yaxis .highcharts-axis-line {
		stroke-width: 2px;
	}
}
