<ion-header>
	<ion-navbar padding-top no-border-bottom color="twitter">
		<ion-title>Selecciona una o varias opciones</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cancelar()">
				<span ion-text color="primary" showWhen="ios">Cancelar</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<button ion-button block color="botton" (click)="aceptar()">Aceptar</button>
<!-- 	<ion-list>
		<ion-item *ngFor="let item of registros">
			<ion-label>{{ item.registros }}</ion-label>
			<ion-checkbox (ionChange)="seleccionFiltros($event, item.registros)"></ion-checkbox>
		</ion-item>
	</ion-list> -->

<!-- 	<ion-list [hidden]="!visible">
		<button ion-button clear full>Proyectos agrupados</button>
		<ion-item *ngFor="let item of filter_menores_uno">
			<ion-label>{{ item.contratante }}</ion-label>
			<ion-checkbox (ionChange)="seleccionFiltros($event, item.contratante)"></ion-checkbox>
		</ion-item>
	</ion-list> -->

<!-- 	<div [hidden]="!visible" padding-top text-center style="border-bottom: 3px double #2E86C1; background-color: red; color:white;">
		<h3>Proyectos agrupados</h3>
	</div> -->

	<ion-list [hidden]="!visible">
		<ion-item *ngFor="let item of filter_menores_uno">
			<ion-label>{{ item.contratante }}</ion-label>
			<ion-checkbox (ionChange)="seleccionFiltros($event, item.contratante)"></ion-checkbox>
		</ion-item>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 0)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando Datos">
		
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
